<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
<div class="container mt-5">
    <h3 class="mb-4">My Custom Login Page</h3>

    <form th:action="@{/authenticate}" method="POST">

        <!-- Check for login error -->

        <div th:if="${param.error}">
            <div class="alert alert-danger" role="alert">
                Sorry! You entered invalid username/password.
            </div>
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">User name:</label>
            <input type="text" class="form-control w-25" id="username" name="username" />
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control w-25" id="password" name="password" />
        </div>

        <button type="submit" class="btn btn-primary">Login</button>

    </form>
</div>
</body>
</html>